{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range ( where .Site.Pages "Section" "eq" "post" ) }}
            {{ if ne .Title "Posts" }} 
              <div class="post-list-item">
                <div class="post-title">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </div>
                <div class="post-date">
                  {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
                </div>
                {{ if .Params.subtitle }}
                  <div class="post-subtitle">
                    {{ .Params.subtitle }}
                  </div>
                {{ end }}
              </div>
              <div style="clear:both;"></div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  
  <script>
/**********************************************************************************************************************************************************
/*********   
/*********
/*********      A console.log() adventure game.
/*********
/*********
/*********      (c) Leon Bambrick 2014.
/*********      MIT License. (You are free to copy, extend, improve, sell.)
/*********
/*********      Contributors: 
/*********        Doeke Zanstra
/*********
/*********      DO NOT READ THE SOURCE CODE UNTIL YOU'VE PLAYED THE GAME!!!!
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********      Just hit F12, to bring up the Console.
/*********
/*********
/*********
/*********
/*********      That's where the game is played.
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********      SERIOUSLY!!! Don't read the code, just play the game! F12 (Developer tools)... look at the console!
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********      SERIOUSLY!!! F12 (Dev tools), view "Console". Enter commands like 'n();' for north etc. 
/*********      It's not hard. You'll figure it out.
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/*********
/**********************************************************************************************************************************************************
*/
(function(exports) { /*** IIFE start **********************************************************************************************/
  'use strict';
  
function start() {
  console.log("\
***********************************************************\r\n\
*** Hallo! Schoen, dass Sie es hierher geschafft haben. ***\r\n\
*** Willkommen zu einem console.log() adventure.        ***\r\n\
***********************************************************\r\n\
 ");
  console.error("Zur Erinnerung: Quelle anzeigen ist Betrug.");
  var info = "Geben Sie [Help] ein, um jederzeit Hilfe zu erhalten (Befehle werden zwischen [] angegeben, geben Sie die Klammern also nicht ein).";
  if (localStorage[localStorageKey]) info += "\r\nEs gibt ein gespeichertes Spiel zu spielen."
  console.info(info);
  init();
  say();
  c(speakTellings());
}

/*const*/var localStorageKey = "console-log-data";
var cmdHistory = [];
var tellbuf = [];
var movecount = 0, playerState;
var playerInventory = {};
var here = [9,5]; //x,y
var mapnum = 0;
var amulet=true;
var gold=true;
var busy=false;

function init() {
  cmdHistory = [];
  tellbuf = [];
  movecount = 0;
  mapnum = 0; // we start on the first map.
  here = [9,5]; //x,y. Our starting position.
  playerInventory = { gold : 0, holding:null, food: 10}; //
  amulet = true; //this sits on the forest floor.
  gold = true; //inside the cave.
  busy=false;
  playerState = { 'health' : 100, 'strength' : 100, 'wisdom' : 0, 'points': 0, 'hunger':0};
}
function save() {
  localStorage[localStorageKey] = JSON.stringify(cmdHistory);
}
function runcmd(cmd) {
  if (!/save|load|remove/i.test(cmd)) {
    console.log("run> [%s]", cmd);
    c(exports[cmd]);
  }
}
function load() {
  var cmds = JSON.parse(localStorage[localStorageKey] || "null");
  if (!cmds) return false;

  console.groupCollapsed("Loading game...");
  init();
  cmds.forEach(runcmd);
  console.groupEnd();
  return true;
}
function timedLoad(timeout, cmds) {
  init();
  busy = 'loading';
  timedForEach(cmds, timeout, function(cmd) {
    if (busy == 'won') return true;
    if (busy == 'loading' || busy === false) {
      busy = false;
      runcmd(cmd);
      if (busy === false) {
        busy = 'loading';
        return true;
      }
    }
  }, function() {
    busy = false;
  });
  tell("Loading game...");
  return;
}
function timedForEach(array, timeout, fnEach, fnFinal) {
  var index = 0, intervalId = setInterval(function() {
    if (Array.isArray(array) && index < array.length) {
      if (fnEach(array[index])) //only advance array, when it's OK
        index++;
    }
    else {
      fnFinal();
      clearInterval(intervalId);
    }
  }, timeout);
}
function remove() {
  if (localStorage[localStorageKey]) {
    delete localStorage[localStorageKey];
    return true;
  }
  return false;
}

function tell(text) {
  tellbuf.push(text);
}
function speakTellings() {
  var tellings = '\t'+tellbuf.join('\r\n\t');
  tellbuf = [];
  return tellings;

}
// Synonyms for our verbs...
function RegisterCommands(fnCommand, synonyms, hasSetter/*no load/save support for setter*/) {
  var evaluate = function(cmd, args) {
    if (busy) {
      if (busy=='won') {
        if (!/help|reset/i.test(cmd)) return "Du hast bereits gewonnen, gib [reset] ein, um erneut zu spielen.";
      }
      else if (busy=='dead') return "Sie sind tot. Bitte warten Sie, bevor Sie wiedergeboren werden.";
      else return "Ich bin beschaeftigt, bitte warten Sie geduldig...";
    }
    cmdHistory.push(cmd);
    fnCommand.apply(this, args);
    return speakTellings();
  }
  synonyms.split(',').forEach(function(cmd) {
    if (cmd in exports)
      console.error("%cCommand %s is already defined", "font-size:150%;color:red;font-weight:bold", cmd, fnCommand);
    else {
      var obj = { get:function() { //HEY! No peaking!
        return evaluate(cmd, arguments)
      }};
      if (hasSetter) obj.set = function() {
        c(evaluate(cmd, arguments));
      };
      Object.defineProperty(exports, cmd, obj);
    }
  }); 
}
RegisterCommands(North,    'nord,North,north,N,n');
RegisterCommands(South,    'sued,South,south,S,s');
RegisterCommands(West,     'West,west,W,w');
RegisterCommands(East,     'ost,East,east,E,e,O,o');
RegisterCommands(Enter,    'Betreten,betreten,Enter,enter,Ent,ent');
RegisterCommands(Look,     'Sehen,sehen,Look,look,L,l');
RegisterCommands(Take,     'Nehmen,nehmen,Take,take,T,t');
RegisterCommands(Use,      'Benutzen,benutzen,Use,use,U,u');
RegisterCommands(Speak,    'Reden,reden,Speak,speak,Sp,sp,SP');
RegisterCommands(Inventory,'Inventory,inventory,Inv,inv,I,i');
RegisterCommands(Me,       'Ich,ich,Me,me,M,m');
RegisterCommands(Fight,    'Fight,fight,F,f');
RegisterCommands(Up,       'Auf,auf,Up,up');
RegisterCommands(Eat,      'Essen,essen,Eat,eat,EAT');
RegisterCommands(Help,     'Hilfe,hilfe,Help,help,HELP,H,h', true);
RegisterCommands(Reset,    'Reset,reset');
RegisterCommands(Save,     'Speichern, speichern,Save,save');
RegisterCommands(Load,     'Laden,laden,Load,load', true);
RegisterCommands(Remove,   'Entfernen,entfernen,Remove,remove');

// VERBS!!!
function Help(value) {
  tell('Befehle sind (ohne die []): [n], [s], [e], [w] fuer [North], [South], [East], [West].');
  tell('weiterhin: [l] fuer [Look], [t] fuer [Take], [u] fuer [Use], [sp] fuer [Speak], [Eat], [i] fuer [Inventory],');
  tell('[Me] fuer Spielerstatus, [f] fuer [Fight] und [h] fuer [Help]. Du kannst auch [Reset], [Save]');
  tell('und [Load] oder [Remove] fuer ein Spiel waehlen. Fuer *special* cheats, druecke Ctrl-F4/Cmd-W.');
  if (value)
    tell("Die geheimen Super-Spezial-Cheats sind [Load = 2000] fuer die Demo oder [Load = -2000] fuer die vollstaendige Demo");
  else
    tell("Fuer Geheimnisse, versuchen Sie, Help irgendwie neu zu definieren.");
}

function Eat() {
  if (playerState.hunger <= 0) {
    return tell("Du bist nicht hungrig.");
  }
  if (playerInventory.food <= 0) {
    return tell("Du hast kein essen.");
  }
  
  playerInventory.food -= 1;
  playerState.hunger -= 1;  
  tell("Du nimmst ein kleinweinig Essen zudir");
}

function Look() {  
  say();
  var cell = maps[mapnum][here[1]][here[0]];
  //c(cell);
  switch(cell) {
    
	case "H" : return tell("Das Haus ist verwittert und scheint verlassen zu sein. Die Haustuer ist teilweise aus den Angeln gehoben."),tell("Sie koennen einfach [Enter] eingeben.");
	case "V" : return tell("Kuehle Luft weht aus der Hoehle. Der Eingang ist groß genug, dass du ihn [Enter] kannst. Du kannst dich bewegen " + Possibilities());
	case "2" : return tell("Es gibt ein Seil, an dem du hochklettern kannst [Up]. Es sieht stabil genug aus, um Euer Gewicht zu halten.");	
    case "k" : return tell("Diese Kueche enthaelt eines dieser schicken magischen Amulett-Aufnahmegeraete."),tell("Du koenntest versuchen, es zu [benutzen/Use], denke ich.");	
    case "r" : 
    {
      act(1000, 
      [ "Der Raum enthaelt ein Bad, ein Waschbecken und eine Toilette, die staendig laeuft."
      , "ueber der Toilette befindet sich ein kleines Fenster. Sie steigen auf den Toilettensitz,"
      , "um einen besseren Blick durch das Fenster zu bekommen. Ja, Sie koennen die Außenwelt sehen,"
      , "und außerdem... fallen Sie ploetzlich durch das Fenster und landen draußen auf dem Boden."
      , "Sie gehen um das Haus herum, bis Sie die Eingangstuer finden."
      , function() {
          here = [11,5];
          mapnum = 0;
          say();
          return speakTellings();
        } 
      ]);
    }
    default : return tell("Sie sehen nichts anderes.");
  }
}
function Take(){
  var cell = maps[mapnum][here[1]][here[0]];
  //c(cell);
  switch(cell) {
    case "E" : {
       if (amulet == true) {
         amulet = false;
         playerInventory.amulet = 1;
         return tell("Du hebst das Amulett auf.");
        }
    }
    case "3" : {
       if (gold == true) {
         gold = false;
         playerInventory.gold = 100;
         return tell("Sie nehmen jedes einzelne Goldstueck.");
       }
    }
    default: tell("Es gibt nichts, was man mitnehmen kann.");
  }
}
function Use(x) {
  var cell = maps[mapnum][here[1]][here[0]];
  //c(cell);
  switch(cell) {
    case "k" : {
        if (playerInventory.amulet == 1) {
          win(0);
          //init();
          return tell("Man höhrt ein klicken!");
        } else {
          return tell("Es ist nicht klar, wie man dieses magische Amulett-Aufnahmegeraet benutzt. Vielleicht braucht man dafuer ein magisches Amulett. Aber woher sollen wir ein solches bekommen?");
        }
    }
    default: tell("Das koennen Sie hier nicht verwenden.");
  }  
}
function Save() {
  save();
  tell("Ihr Spielverlauf wurde gespeichert.");
}
function Load(value) {
  if (value) {
    var timeout = +value || 2000;
    if (timeout > 0) timedLoad(timeout, 'n,n,e,e,e,e,e,t,w,w,w,w,w,s,s,e,e,ent,w,w,w,n,l,u'.split(','));
    else timedLoad(-timeout, 'eat,w,w,sp,e,e,s,s,l,ent,w,w,n,t,inv,s,e,e,n,l,up,n,n,n,n,w,w,w,w,w,n,w,w,s,s,f,n,n,e,e,n,e,e,e,e,e,e,e,s,e,e,s,t,inv,s,w,w,n,w,w,w,s,s,e,e,l,ent,w,n,l,ent,w,w,w,s,n,w,e,n,l,me,use'.split(','));
    return;
  }
  return load() ? say() : tell("Sie scheinen Ihr Gameplay nie gespeichert zu haben, Mister!");
}
function Remove() {
  return tell(remove() ? "Das gespeicherte Spiel wurde geloescht." : "Sie scheinen Ihr Gameplay nie gespeichert zu haben, Mister!");
}
function Reset() {
  console.clear();
  document.body.style.background = "#FFF";
  document.body.innerHTML ="";
  init();
  say();
}
function win(n) {
  busy = 'won';
  switch(n) {
    case 0 : c("\tDu nimmst das Amulett heraus und legst es in die Auffangvorrichtung fuer magische Amulette."); break;
    case 1 : c("\tEs beginnt zu summen."); break;
    case 2 : c("\tFunken!"); break;
    case 3 : c("\tEin Blitzschlag!"); break;
    case 4 : c("\tMagische Energie hebt dich vom Boden..."); break;
    case 5 : c("\tPloetzlich wird alles dunkel."); break;
    case 6 : console.log('%c\t Oh mein Himmel! Du schaust nach oben und siehst eine neue Welt.', 'background: #222; color: #bada55'); break;
    case 7 : console.log('%c\t Sie erkennen sofort, dass alles, was Sie erlebt haben, nur ein Schatten der wahren Welt ist.', 'background: #222; color: #bada55'); break;
    case 8 : console.log('%c\t Sie haben in einer Phantomwelt gearbeitet, fluechtig und unwirklich, waehrend die reale Welt der Ideen,\r\n\t die viel maechtiger und dauerhafter ist als Ihre eigene, war die ganze Zeit ueber da und schwebte ueber Ihnen.', 'background: #222; color: #bada55'); break;
    case 9 : console.log('%c\t Du wendest dich der Welt ueber dir zu und betrachtest ihre Erhabenheit.', 'background: #222; color: #bada55'); break;
    case 10 : break; //pause for a beat.
    case 11 : {document.body.style.background = "#FF00FF";
              var message = "";
              if (movecount < 20) {
                message = " (mit nur ein bisschen Schummeln, sehr clever, wie haben Sie das gemacht?)";
              }
              document.body.innerHTML = '<div class="win">Du hast gewonnen in ' + movecount + ' bewegungen.' + message + '</div><p><code>[reset]</code> um erneut zu spielen.</p>';
              } break;
  }
  if (n < 11) {
    setTimeout(function(){ win(n+1); }, 2000);        
  }
  if (n==0) {
    return "Sie treten zurueck";
  }
}
function Fight(){
 tell("Du schlaegst wie wild in die Luft. Erschoepft setzt du dich hin.");
}
function Speak(){
 tell("Du redest. Niemand hoert zu.");
}
function Inventory() {
  cj(playerInventory);
}
function Me() {
  cj(playerState);
}
//Note, ensure each map has a border of dots (this makes game logic simpler)
var maps = [[   
"...................", //0 (Starting map!)
".....ffff.fff..f...", //1
"...ffffffff.fffff..", //2
"...f.ffffFffffEf...", //3
"...W.....P..fffff..", //4
".......CPTPPFfff...", //5
".........P..fHf....", //6
".........P.........", //7
".........PV........", //8
"...................", //9
"..................."], //10
[
".......", //0 (House map!)
"..k.r..", //1
".bhhhy.", //2
"..a....", //3
"......."], //4
[
".......", //0 (Cave!)
"..3.2..", //1
".41000.", //2
"......."]] //3

function move(x,y) {
 if ((here[0] + x < 0)||(here[0] + x > maps[mapnum][0].length)) return tell("der Rand der Welt ist erreicht.");
 if ((here[1] + y < 0)||(here[1] + y > maps[mapnum].length)) return tell("der Rand der Welt ist erreicht.");
 if (maps[mapnum][here[1]+y][here[0]+x] == ".") return tell("der Weg ist versperrt");
 movecount++;
 here[0]+=x;
 here[1]+=y;
 return say(); 
}
function elfhut() {
  tell("Eine Lichtung im Wald, mit einer verlassenen Elfenhuette.");
  if (amulet == true) {
    tell("Ein Amulett liegt auf dem Boden.");
  }
}
function horde() {
  if (gold == true) {
    tell("Sie haben einen Schatz in einer Hoehle entdeckt. Es gibt unmengen von Goldmuenzen, Pokalen und Schmuckstuecken.");
  } else {
    tell("Eine leere Hoehle.")
  }
}
function stepTell(stepMs, lines) {
  var lineIndex = 0
  ,   stepId = setInterval(function() {
    var line = lines[lineIndex];
    if (typeof line=='function') line = line();
    if (line !== null) c('\t'+line.replace(/^\t+/,''));
    lineIndex++;
    if (lineIndex == lines.length) clearInterval(stepId);
  }, stepMs); 
}
function act(stepMs,lines) {
  busy = 'yes';
  lines.push(function() { 
    busy = false; 
    return null;
  });
  stepTell(stepMs,lines);
}
function die(stepMs,lines) {
  busy = 'dead';
  lines.push(function() {
    console.error("\r\n\t G A M E  O V E R \r\n\t");
    init(); 
    say();
    return speakTellings();
  });
  stepTell(stepMs,lines);
}

function repeat(str,num) {
  return new Array(num+1).join(str);
}
function say() {
  var cell = maps[mapnum][here[1]][here[0]];
  switch(cell) {
    case "T" : return tell("Sie befinden sich auf einem Stadtplatz. Wege fuehren nach " + Possibilities() + ".");
    case "P" : return tell("Du gehst vorsichtig den Weg entlang. Du kannst dich bewegen nach " + Possibilities() + ".");
    case "H" : return tell("Es gibt ein Haus.");
    case "F" : return tell("Ein gespenstischer Wald. Sie koennen fortfahren nach " + Possibilities() + ".");
    case "f" : return tell("Der Wald ist so dicht, dass man nicht weiß, welche Richtungen moeglich sind.");
    case "E" : return elfhut();
    case "W" : return tell("Ein Bach mit einem Wasserfall versperrt Ihnen den Weg. Es wimmelt nur so von Fischen.");
    case "C" : return tell("Du stehst auf einer Klippe am Meer. Die Moewen kraechzen.");
    case "V" : return tell("Der Eingang zu einer Hoehle. Ein Schauer laeuft einem den Ruecken hinauf und hinunter.");
    case "k" : return tell("Sie befinden sich in einer Kueche. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "h" : return tell("Sie befinden sich in einem Korridor. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "r" : return tell("Sie befinden sich in einem Schlafzimmer. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "b" : return tell("Sie befinden sich in einem Badezimmer. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "y" : return tell("Sie befinden sich in einem Foyer. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "a" : return tell("Eine Treppe fuehrt nach oben auf einen Dachboden. Sie koennen [Up] gehen, " + Possibilities() + ".");
    case "0" : return tell("Du befindest dich in einem tiefen, dunklen Tunnel. Mit den Fingern fuehlst du, dass du dich bewegen kannst nach " + Possibilities() + ".");
    case "1" : return tell("Irgendwie ist es hier noch dunkler. Du spuerst, wie du verrueckt wirst."),tell("Das Einzige, was Sie noch haben, ist Ihr Orientierungssinn. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "2" : return tell("Du befindest dich in einer weiten, offenen Hoehle. Der Boden ist mit Knochen uebersaet. Sie koennen sich bewegen nach " + Possibilities() + ".");
    case "3" : return horde();
    case "4" : return die(250,'Du faellst fuer immer.'.split("").map(function(s,i){return repeat(' ',i)+s;})), tell("Ein bodenloses Loch.");
    default  : return tell("Du bist an einem Ort, den ich nicht kenne.");
  }
}

function Up() { 
  var cell = maps[mapnum][here[1]][here[0]];
  if (cell == 'a') {
    die(1000,['Es gibt ein knarrendes Geraeusch.','Die Treppe stuerzt ein.','Das ganze Haus stuerzt auf dich.']);
    return tell("Sie beginnen, die Treppe hinaufzusteigen.");
 } else  if (mapnum ==2 && cell == '2') {
    mapnum = 0;
    here = [9,7];
    tell("Langsam klettern Sie das Seil hinauf. Es knarrt und droht zu reißen. Schließlich hast du dich an die Oberflaeche geschleppt.");
    tell("Wenn man um einen großen Felsbrocken herumgeht, findet man...");
    return say();
 } else return tell("Das koennen Sie hier nicht tun.");
}

function Enter() {
 var cell = maps[mapnum][here[1]][here[0]];
 
  switch(cell) {
    case "H" : {
			mapnum = 1;
			tell("Sie schieben die Tuer auf und treten ein.");
			here = [5,2];
			return say();
		}
    case "V" : {
			mapnum = 2;
			tell("Du gehst langsam hinein... Du faellst eine kurze Strecke, es ist zu weit, um wieder hochzuklettern.");
      tell("Es ist stockdunkel. Du wirst wahrscheinlich von einem Schleimmonster gefressen werden.");
			here = [4,2];
			return say();
		}
    default : return tell("Das ist hier nicht moeglich.");
  }
  return "";
}

function Possibilities() {
  var poss = [];
  if (maps[mapnum][here[1]-1][here[0]] != ".") poss[poss.length] = "[North]";
  if (maps[mapnum][here[1]+1][here[0]] != ".") poss[poss.length] = "[South]";
  if (maps[mapnum][here[1]][here[0]+1] != ".") poss[poss.length] = "[East]";
  if (maps[mapnum][here[1]][here[0]-1] != ".") poss[poss.length] = "[West]";
  return replaceLast(poss.join(", "), ", ", " und "); //sometimes ' or ' would be better... ah well.
}
function North() {
  return move(0, -1);
}

function South() {
 return move(0, 1);
}

function West() {
  return move(-1, 0);
}

function East() {
  return move(1, 0);
}

function c(s) {
 console.log(s);
}
function cj(o) {
  tell(JSON.stringify(o, null, "\t").replace(/"|\{(\r\n|\r|\n)\t|\}/g, ''));
}

function replaceLast(x, what, replacement) {
    return x.split("").reverse().join("").replace(new RegExp(what.split("").reverse().join("")), replacement.split("").reverse().join("")).split("").reverse().join("");
};
start();

/***/ })(window); /** IIFE end*****************************************************************************************************/

</script>
<style>
.hidden { color:white}
.hidden:hover {
color:black;
}
.win {
 font-size:72px;
 -webkit-animation: color_change 2s infinite alternate;
 -moz-animation: color_change 2s infinite alternate;
 -ms-animation: color_change 2s infinite alternate;
 -o-animation: color_change 2s infinite alternate;
 animation: color_change 2s infinite alternate;
}

@-webkit-keyframes color_change {
 from { color: blue; text-shadow:0 0 10px #FF0;}
 to { color: #FF00FF; }
}
@-moz-keyframes color_change {
 from { color: blue; text-shadow:0 0 10px #FF0; }
 to { color: #FF00FF; }
}
@-ms-keyframes color_change {
 from { color: blue; text-shadow:0 0 10px #FF0; }
 to { color: #FF00FF; }
}
@-o-keyframes color_change {
 from { color: blue; text-shadow:0 0 10px #FF0; }
 to { color: #FF00FF; }
}
@keyframes color_change {
 from { color: blue; text-shadow:0 0 10px #FF0; }
 to { color: #FF00FF; }
}
</style>
{{ end }}

